.home {
    /* border: 2px solid red; */
    height: 300px;
    background-image: url("https://img.freepik.com/premium-photo/gym-equpment-dark-background-3d-rendering_256339-185.jpg");
    background-size: 600px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-end;
    color: white;
    font-family: 'Rubik', sans-serif;;
}
.container {
    /* border: 2px solid burlywood; */
    width: 500px;
    text-align: center;
    margin-bottom: 5px;
}
